<div class="w-full p-3">
  <div class="bg-white border rounded shadow">
    <ul class="space-y-4">
      <li class="flex items-center">
        <p class="ml-4">
          Name: <%= @municipy.name %>
        </p>
      </li>
      <li class="flex items-center">
        <p class="ml-4">
          Status: <%= @municipy.status %>
        </p>
      </li>
      <li class="flex items-center">
        <p class="ml-4">
        </p>

        <p class="ml-4">
        </p>
      </li>
    </ul>
  </div>
</div>
